*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
	font-size:large;
}

/*fondo de todas las paginas*/
body{
	background-image: url(fondo-1.jpg);
}



/*Header*/
header {
	margin: 1%;
	width: 100%;
    height: 5%;
    z-index: 100;
	background-color: black;
  }
/*contenedor logo del header*/
  .div-logo{
	display: flex;
	justify-content: center;
  }
  /*imagen logo*/
  .logo{
	margin:2%;
	width: 23%;
	height: 5%;

  }

.lista-nav { 
    list-style-type: none;
    display: flex;
    text-align: justify;
    justify-content: center;
    gap: 45px;
    color: aliceblue;
}

.item-lista-nav:hover {
    background: #eca023;
 }

.item-lista-nav a {
    text-decoration: none;
    color:aliceblue  !important; 
}



main {
	margin:1% 3% 1% 3%;
	padding: 2% 5% 2% 5%;
	text-align: justify;
}
/*link en index que abre página de la organización*/
.link-ntd{
    text-decoration: none;
    color: black;
}
.link-ntd:hover{
    background: #db8046;
    color:aliceblue;

    }

.lista-texto{
    list-style-type: none;

    }

/*footer*/
.container-footer{
display: block;
} 
.container-lista-footer{
	margin:2%;
    display:flex;
    justify-content: center;
}

.lista-footer {
    list-style-type: none;
    display:flex;
    justify-content: center;
  }

.imagen-media{
    max-width: 52%;
    max-height: 52%;
}

.texto-footer{
    text-align: center;
}


/*carousel del index*/
#carouselExampleCaptions{
    width: 40%;
    height: 25%;

}

.texto-carousel {
    background-color: black;
    opacity: 70%;
}

.container-carousel{
    display:flex;
    justify-content: center;
    justify-items: center;
	margin:10px;
	padding:8px;
}
#carouselExampleCaptions{
	border: 8px solid black;
     display:flex;
    justify-content: center;
}

.carousel-control-prev-icon{
    background-color: black;
    
}
.carousel-control-next-icon{
    background-color: black;
}




/*div de modales con los proyectos*/
.modal-spa{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 3;
}
.modal-spa{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal-spa:checked ~ .modal-spa{
	opacity: 1;
	visibility: visible;
} 
.contenedor-spa{
	width: 800px; /*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	height: 900px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
	overflow: hidden;
}
#btn-modal-spa:checked ~ .modal-spa .contenedor-spa{
	transform: translateY(0%);
} 
.contenedor-spa header{
	padding: 10px; /*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	background: #db8046;
	color: #fff;
}
.contenedor-spa label{
	position: absolute;
	top: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	right: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido-spa{
	width: 100%;
	padding: 10px; /*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
.contenido-spa h3{
	margin-bottom: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
.contenido-spa p{
	margin-bottom: 7px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
#btn-modal-spa{
	display: none;
}
.lbl-modal-spa{
	background: black;
	color:aliceblue;
	padding: 10px 15px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	border-radius: 4px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	cursor: pointer;
}
.lbl-modal-spa:hover{
	background-color: #db8046;

}

.div-contenedor-modales{
	margin: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	padding:8px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	display: flex;
	justify-content:space-evenly;
}

.modal-cuaderno{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 3;
}
.modal-cuaderno{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal-cuaderno:checked ~ .modal-cuaderno{
	opacity: 1;
	visibility: visible;
} 
.contenedor-cuaderno{
	width: 750px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	height: 700px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal-cuaderno:checked ~ .modal-cuaderno .contenedor-cuaderno{
	transform: translateY(0%);
} 
.contenedor-cuaderno header{
	padding: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	background: #db8046;
	color: #fff;
}
.contenedor-cuaderno label{
	position: absolute;
	top: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	right: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido-cuaderno{
	width: 100%;
	padding: 10px; /*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
.contenido-cuaderno h3{
	margin-bottom: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
.contenido-cuaderno p{
	margin-bottom: 7px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
#btn-modal-cuaderno{
	display: none;
}
.lbl-modal-cuaderno{
	background: black;
	color:aliceblue;
	padding: 10px 15px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	border-radius: 4px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	cursor: pointer;
}
.lbl-modal-cuaderno:hover{
	background-color: #db8046;
}

.modal-editorial{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 3;
}
.modal-editorial{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal-editorial:checked ~ .modal-editorial{
	opacity: 1;
	visibility: visible;
} 
.contenedor-editorial{
	width: 800px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	height: 900px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
	overflow: hidden;
}
#btn-modal-editorial:checked ~ .modal-editorial .contenedor-editorial{
	transform: translateY(0%);
} 
.contenedor-editorial header{
	padding: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	background: #db8046;
	color: #fff;
}
.contenedor-editorial label{
	position: absolute;
	top: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	right: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido-editorial{
	width: 100%;
	padding: 10px; /*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
.contenido-editorial h3{
	margin-bottom: 10px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
.contenido-editorial p{
	margin-bottom: 7px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
}
#btn-modal-editorial{
	display: none;
}
.lbl-modal-editorial{
	background: black;
	color:aliceblue;
	padding: 10px 15px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	border-radius: 4px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	cursor: pointer;
}
.lbl-modal-editorial:hover{
	background-color: #db8046;
}
  
.imagen-modal{
	width: 600px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/
	height: 480px;/*A ESTAS PROPIEDADES LES TENGO QUE CAMBIAR DE UNIDAD*/

}

.main-help-us {
    display:flex;
}

.div-coontenedor-modales /*ESTO CREO QUE ESTÁ MAL-VEEERRRR*/
{
	float:left;
	background-color: #db8046;
  }


/*Grid en e-commerce*/
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #739fb3;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.60);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  /*Las imagenes están como fondo de los div*/
  #imagen1{
    background-image:url(agendas-1.jpg) ;
  }
#imagen2{
    background-image: url(agendas-2.jpg);
  }
#imagen3{
    background-image: url(agendas-3.jpg);
  }
  #imagen4{
    background-image: url(agendas-4.jpg);
  }
#imagen5{
    background-image: url(agendas-5.jpg);
  }
  #imagen6{
    background-image: url(agendas-6.jpg);
  }
 #imagen7{
    background-image: url(agendas-7.jpg);
  }
  
  
/*probando media queries*/


/*este cambia el tamaño de los div en el grid*/ 
 @media (min-width: 600px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
  }

  
  @media screen and (max-width: 480px) {
	header{
		background-color: #739fb3;

	}
}
