*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

/*Header*/
header {
    background: black;
    width: 100%;
    height: 50px;
    z-index: 100;
  }

h1{
    color: aliceblue;
    text-align: center;
}

.lista-nav { 
    list-style-type: none;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    gap: 45px;
    background-color:black;
    color: aliceblue !important;
}

.item-lista-nav:hover {
    background: #eca023;

    }

.item-lista-nav a {
    text-decoration: none !important;
    color: aliceblue !important;

}


/*main del index?*/
main {
    margin-top: 90px;
    margin-left: 70px;
    margin-right: 70px;
    border:20px solid white; 
    padding:70px;
}

.link-ntd{
    text-decoration: none;
    color: black;
}
.link-ntd:hover{
    background: #eca023;
    color:aliceblue;

    }
.lista-texto{
    list-style-type: none;

    }

/*footer*/
.container-footer{
display: block;
} 
.container-lista-footer{
    display:flex;
    justify-content: center;
}

.lista-footer {
    list-style-type: none;
    display:flex;
    justify-content: center;
  }

.imagen-media{
    max-width: 40%;
    max-height: 40%;
}

.texto-footer{
    text-align: center;
}


/*carousel del index*/
#carouselExampleCaptions{
    width: 40%;
    height: 25%;

}

.texto-carousel {
    background-color: black;
    opacity: 70%;
}

.container-carousel{
    display:flex;
    justify-content: center;
    justify-items: center;
}
#carouselExampleCaptions{
    
    display:flex;
    justify-content: center;
}

.carousel-control-prev-icon{
    background-color: black;
    opacity: 100%;
}
.carousel-control-next-icon{
    background-color: black;
}




/*modales del aside en index*/
.modal-spa{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 3;
}
.modal-spa{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal-spa:checked ~ .modal-spa{
	opacity: 1;
	visibility: visible;
} 
.contenedor-spa{
	width: 600px;
	height: 600px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal-spa:checked ~ .modal-spa .contenedor-spa{
	transform: translateY(0%);
} 
.contenedor-spa header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor-spa label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido-spa{
	width: 100%;
	padding: 10px; 
}
.contenido-spa h3{
	margin-bottom: 10px;
}
.contenido-spa p{
	margin-bottom: 7px;
}
#btn-modal-spa{
	display: none;
}
.lbl-modal-spa{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor-spa{
		width: 95%;
	}
}





.modal-cuaderno{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 3;
}
.modal-cuaderno{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal-cuaderno:checked ~ .modal-cuaderno{
	opacity: 1;
	visibility: visible;
} 
.contenedor-cuaderno{
	width: 600px;
	height: 600px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal-cuaderno:checked ~ .modal-cuaderno .contenedor-cuaderno{
	transform: translateY(0%);
} 
.contenedor-cuaderno header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor-cuaderno label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido-cuaderno{
	width: 100%;
	padding: 10px; 
}
.contenido-cuaderno h3{
	margin-bottom: 10px;
}
.contenido-cuaderno p{
	margin-bottom: 7px;
}
#btn-modal-cuaderno{
	display: none;
}
.lbl-modal-cuaderno{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor-cuaderno{
		width: 95%;
	}
}

.modal-editorial{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 3;
}
.modal-editorial{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal-editorial:checked ~ .modal-editorial{
	opacity: 1;
	visibility: visible;
} 
.contenedor-editorial{
	width: 600px;
	height: 600px;
	margin: auto;
	background: #bebbda;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal-editorial:checked ~ .modal-editorial .contenedor-editorial{
	transform: translateY(0%);
} 
.contenedor-editorial header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor-editorial label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido-editorial{
	width: 100%;
	padding: 10px; 
}
.contenido-editorial h3{
	margin-bottom: 10px;
}
.contenido-editorial p{
	margin-bottom: 7px;
}
#btn-modal-editorial{
	display: none;
}
.lbl-modal-editorial{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor-editorial{
		width: 95%;
	}
}
  




.main-help-us {
    display:flex;
}


/*grid en e-commerce*/
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #739fb3;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.60);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  
  @media (min-width: 600px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
  }
  #imagen1{
    background-image:url(agendas-1.jpg) ;
  }
#imagen2{
    background-image: url(agendas-2.jpg);
  }
#imagen3{
    background-image: url(agendas-3.jpg);
  }
  #imagen4{
    background-image: url(agendas-4.jpg);
  }
    #imagen5{
    background-image: url(agendas-5.jpg);
  }
  #imagen6{
    background-image: url(agendas-6.jpg);
  }
 #imagen7{
    background-image: url(agendas-7.jpg);
  }